<div class="info-content">
  <h1><%= primary_type %></h1>
  <h2><%= description %></h2>
  <h3><%= incident_date %></h3>
  <h3><%= location_icon %> <%= location_description %> </h3>
  <h3><%= arrest_status %></h3>
  <div class="pano" data-id="pano"></div>
</div>
