<h1> <%= primary_type %></h1>
<h2> <%= description %></h2>
<h3> Date: <%= incident_date %></h3>
<h3> Location: <%= location_description %> </h3>
<h3> Arrest Status: <%= arrest_status %></h3>
<div class="pano" data-id="pano"></div>

